 <h1>Please Login Now </h1>


 <form method="post" action="/auth">
 	User Name: <input type="text" name="name"><br> 
 	Password : <input type="text" name="pass"><br>
 	<button class="btn">Login</button>
 </form>