<style>
test a:visited{
  text-decoration: none;
}
</style>

<div>
  <center><img src = {{imgURL}}></center>
</div>

<div id = "test">
  <center>
    <a href=splash>Splash</a>
    <a href=home>Home</a>
    <a href=login>Login</a>
    <a href=profile>Profile</a>
    <a href=admin>Admin</a>
  </center>
</div>