<div>
  <center><img src = {{imgURL}}></center>
</div>

<div>
  <center>
    <a href="/">Splash</a>
    <a href="home">Home</a>
    <a href="login">Login</a>
    <a href="profile">Profile</a>
    <a href="admin">Admin</a>
  </center>
</div>