<h1>Team Portfolio</h1>

<h2>Meet the Members</h2>
<!-- need to make the link add querystring to link to relevant page   -->

  {{#each members}}
  <div class="memberName"><a href="">{{this.fname}} {{this.lname}}</a></div>
      <div class="Description">{{this.desc}} </div>
      <div>. </div>
      <div> </div>
  {{/each}}






 <!-- <div class="memberName">Ben Cheung </div>

  <div class = "PositionDiv">
  <p> Database and server </p>
 </div>
 <div class="Description">
<p></p>
 </div>

 <div class="memberName">Jonathan Gatley </div>

   <div class = "PositionDiv">
  <p> Database and server </p>
 </div>
 <div class="Description">
<p></p>
 </div>


 <div class="memberName">Harsh Keswni </div>

   <div class = "PositionDiv">
  <p> Database and server </p>
 </div>
 <div class="Description">
<p></p>
 </div>

  <div class="memberName">Zach Milrod </div>

   <div class = "PositionDiv">
  <p> Database and server </p>
 </div>
 <div class="Description">
<p></p>
 </div>

  <div class="memberName">Anthony Li </div>

   <div class = "PositionDiv">
  <p> Database and server </p>
 </div>
 <div class="Description">
<p></p>
 </div>
 -->

