<!DOCTYPE html>
<html>

  <head>
		<link rel="stylesheet" type="text/css" href="../css/adminControls.css" />
  </head>

  <div id="page">
    <div class="header">
      <a href="#menu"></a>
      {{title}}
    </div>
  </div>

  <div id="cont">
    <div id="tp">

  		<!-- <h1>Admin Controls</h1> -->

  		<a class="link" href="/admin/userList">
  			<div class="linkText">
  				Flagged Users
  			</div>
  		</a>

  		<a class="link" href="/admin/classes">
  			<div class="linkText">
  				Classes
  			</div>
  		</a>

  		<a class="link" href="/">
  			<div class="linkText">
  				Flagged Messages
  			</div>
  		</a>


  	</div>
  </div>

</html>