<!DOCTYPE html>

<html>
  <head>
		<link rel="stylesheet" type="text/css" href="../css/adminControls.css" />
  </head>

  <body>
  <div id="page">
    <div class="header">
    <a href="#menu"></a>
      {{title}}
    </div>
    </div>

    <div id="cont">
    <div id="tp">

  		<!-- <h1>Admin Controls</h1> -->

  		<a class="link" href="/">
  			<div class="linkText">
  				Flagged Users
  			</div>
  		</a>

  		<a class="link" href="/">
  			<div class="linkText">
  				Classes
  			</div>
  		</a>

  		<a class="link" href="/">
  			<div class="linkText">
  				Flagged Messages
  			</div>
  		</a>


  		</div>
  		</div>

  		<nav id="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="team">Team</a></li>
        <li><a href="mockups">Layout</a></li>
        <li><a href="admin/adminControls">Admin</a></li>
      </ul>
    </nav>
  	
  </body>


  </html>