<!DOCTYPE html>

<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="../css/adminControls.css" />
  </head>

  <body>

  	<div id="page">
    <div class="header">
    <a href="#menu"></a>
      {{title}}
    </div>
    </div>

    <table>
        
      <tr>
        <th>
          Name
        </th>
        <th>
          Class ID
        </th>
        <th>
          Students
        </th>
      </tr>

      {{#each classes}}

      <tr>
        <td>
          {{this.name}}
        </td>
        <td>
          {{this.id}}
        </td>
        <td>
          {{this.students}}
        </td>
      </tr>


      {{/each}}



      </table>

  </body>
  </html>