<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "css/index.css" />
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <script> 
      $(document).ready(function(){
        $("#class").click(function(){
          $("#extend").slideToggle("slow");
        });
      });
    </script>
  </head>

  <div id = "page">
    <div class = "header">
      <a href = "#menu"></a>
        Zembo
    </div>
  </div>
  
  <div class = "content"></div>

    <div id = "cont">
      <div id = "tp">
        <ul id = "class">
          <div id = "classname">
            <p1>COMPSCI 311</p1>
            <p2>Introduction to Algorithms</p2>
          </div>
          <div id = "students">
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/anthony.jpg" alt = "Anthony">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/harsh.jpg" alt = "Harsh">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/ben.jpg" alt = "Ben">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/zach.jpg" alt = "Zachary">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/jon.jpg" alt = "John">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/dylan.jpg" alt = "Dylan">
              
            </div>
          </div>
          <i id = "dropdown" class = "fa fa-chevron-down"></i>
        </ul>

        <div id = "extend">
          <ul>
            <li>
              <i id = "cap" class = "fa fa-graduation-cap"></i>
              <i id = "pencil" class = "fa fa-pencil-square-o"></i>
              <i id = "calendar" class = "fa fa-calendar"></i>
              <i id = "event" class = "fa fa-plus-square-o"></i>
            </li>
          </ul>
        </div>

        <ul id = "class">
          <div id = "classname">
            <p1>COMPSCI 326</p1>
            <p2>Web Programming</p2>
          </div>
          <div id = "students">
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/anthony.jpg" alt = "Anthony">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/harsh.jpg" alt = "Harsh">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/ben.jpg" alt = "Ben">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/zach.jpg" alt = "Zachary">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/jon.jpg" alt = "John">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/dylan.jpg" alt = "Dylan">
              
            </div>
          </div>
          <i id = "dropdown" class = "fa fa-chevron-down"></i>
        </ul>

        <ul id = "class">
          <div id = "classname">
            <p1>COMPSCI 230</p1>
            <p2>Computer Systems Principles</p2>
          </div>
          <div id = "students">
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/anthony.jpg" alt = "Anthony">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/harsh.jpg" alt = "Harsh">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/ben.jpg" alt = "Ben">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/zach.jpg" alt = "Zachary">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/jon.jpg" alt = "John">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/dylan.jpg" alt = "Dylan">
              
            </div>
          </div>
          <i id = "dropdown" class = "fa fa-chevron-down"></i>
        </ul>

        <ul id = "class">
          <div id = "classname">
            <p1>COMPSCI 240</p1>
            <p2>Reasoning Under Uncertainty</p2>
          </div>
          <div id = "students">
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/anthony.jpg" alt = "Anthony">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/harsh.jpg" alt = "Harsh">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/ben.jpg" alt = "Ben">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/zach.jpg" alt = "Zachary">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/jon.jpg" alt = "John">
              
            </div>
            <div id = "studentBody">
              <img id = "studentImage" src = "imgs/users/dylan.jpg" alt = "Dylan">
              
            </div>
          </div>
          <i id = "dropdown" class = "fa fa-chevron-down"></i>
        </ul>
      </div>
    </div>
  </div>
  
</html>