<!DOCTYPE html>
<html>
  <div id="page">
    <div class="header">
    <a href="#menu"></a>
      Zembo
    </div>
    </div>
    <div class="content"> 
    
    </div>

    <div id="cont">
    <div id="tp">

      <!--<ul id = "topbar"></ul>-->
      <ul id = "class">
        <div id="classname">
          <p1>COMPSCI 311</p1>
          <p2>Algorithms - Ramesh Sitaraman</p2>
        </div>
        <div id="students">
          <div id="studentBody">
            <img id="studentImage" src="imgs/users/anthony.jpg" alt="Anthony">
            
          </div>
          <div id="studentBody">
            <img id="studentImage" src="imgs/users/harsh.jpg" alt="Harsh">
            
          </div>
          <div id="studentBody">
            <img id="studentImage" src="imgs/users/ben.jpg" alt="Ben">
            
          </div>
          <div id="studentBody">
            <img id="studentImage" src="imgs/users/zach.jpg" alt="Zachary">
            
          </div>
          <div id="studentBody">
            <img id="studentImage" src="imgs/users/jon.jpg" alt="John">
            
          </div>
          <div id="studentBody">
            <img id="studentImage" src="imgs/users/dylan.jpg" alt="Dylan">
            
          </div>
        </div>
        <i id="dropdown" class="fa fa-plus-circle"></i>
      </ul>

      <div id = "extend">
        <ul>
          
        </ul>
      </div>

      <ul id = "class">
        <div id="classname">
          <p1>COMPSCI 326</p1>
          <p2>Web Programming - Tim Richards</p2>
        </div>
        <div id="students">
          <div id="studentBody">
            <img id="studentImage" src="imgs/users/anthony.jpg" alt="Anthony">
            
          </div>
          <div id="studentBody">
            <img id="studentImage" src="imgs/users/harsh.jpg" alt="Harsh">
            
          </div>
          <div id="studentBody">
            <img id="studentImage" src="imgs/users/ben.jpg" alt="Ben">
            
          </div>
          <div id="studentBody">
            <img id="studentImage" src="imgs/users/zach.jpg" alt="Zachary">
            
          </div>
          <div id="studentBody">
            <img id="studentImage" src="imgs/users/jon.jpg" alt="John">
            
          </div>
          <div id="studentBody">
            <img id="studentImage" src="imgs/users/dylan.jpg" alt="Dylan">
            
          </div>
        </div>
        <i id="dropdown" class="fa fa-plus-circle"></i>
      </ul>



    </div>
    </div>
    <nav id="menu">
      <ul>
        <li><a href="http://localhost:3000">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="team">Team</a></li>
        <li><a href="mockups">Layout</a></li>
      </ul>
    </nav>
  </div>
  
</html>