<!DOCTYPE html>
<html>
  <div id="page">
    <div class="header">
    <a href="#menu"></a>
      Zembo
    </div>
    </div>
    <div class="content"> 
    
    </div>
  
    <div id="cont">
    <div id="tp">

    <div id="panel1">
        <ul id="test">
          <center><img src ="imgs/logo.png" width="200" height="125px"></center>
          </div>
        </ul>
      </div>


    <center><h1>{{member.fname}} {{member.lname}}</h1></center>
    <div class="Description"> {{member.desc}}
    </div>
    <center><a href="team"> GO BACK </a></center>

    </div>
  </div>
  
</html>