<!DOCTYPE html>
<html>
  
  <div id="page">
    <div class="header">
      <a href="#menu"></a>
      Zembo
    </div>
  </div>

  {{#each data}}
  <body>
    {{this.uid}}
  </body>
  {{/each}}

</html>