<!DOCTYPE html>
<html>
  
  <div id="page">
    <div class="header">
      <a href="#menu"></a>
        <span id="daZem">Zembo</span>
          <span id="profRight">
            <button id="daButt" onclick="window.location='/user/profile';">{{namef}} {{namel}}</button>
          </span>
    </div>
  </div>

  {{#each data}}
  <body>
    {{this.uid}}
  </body>
  {{/each}}

</html>