<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <div id="page">
    <div class="header">
      <a href="#menu"></a>
        Zembo
    </div>
  </div>

  <div id="banner">
      {{#each classData}}
        All students in {{num}}
      {{/each}}
  </div>

  {{#each classData}}
    {{#each students}}
      <a href="/user/profile?spireid={{this}}"><img id="drawerImage" src="/imgs/users/{{this}}.jpg"></a>
    {{/each}}
  {{/each}}

  <center><a href="/class?classid={{classid}}">GO BACK</a></center>
</html>