h1{
	text-align: center;
}

a:link{
	text-decoration: none;
}

.linkText{
	background-color: #2878d8;
	color: white;
	font-family: ubuntu, helvetica, arial;
	margin-top: 3%;
	padding: 3%;
	text-align: center;
	text-decoration: none;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 2em;
}

th, td {
  border: 1px solid black;
	padding: 5%;
	text-align: center;
}

table {
  border-collapse: collapse;
	text-align: center;
}