#nav {
    width: 100%;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#nav li a:hover:not(.active) {
    background-color: #111;
    background-color: #2878d8;
}

#nav p1{
  	text-align: right;
  	right: 0;
  	float: right;
  	padding: 14px 16px;
  	font-size: 15px;
  	color: white;
}

#eventsAndPosts {
	list-style-type: none;
   	margin: 0;
   	padding: 0;
   	width: 100%;
   	background-color: #f1f1f1;
   	position: fixed;
    margin-top: 50px;
    height: auto;
    overflow: auto;
}

#eventsAndPosts li a {
   	display: block;
    color: #000;
   	padding: 10px 0 10px 20px;
    text-decoration: none;
}

#eventsAndPosts li a:hover{
    background-color: #4CAF50;
    color: white;
}

#arrow{
    float: right;
    font-size: 20px;
    padding-right: 15px;
}
