#profilepicture{
  padding-top: 30px;
  margin: 0 auto;
}

#studentImage{
  height: 300px;
  width: 300px;
}

#details{
  margin: 0 auto;
}

#details ul{
  list-style: none;
}

#details li{
  border-bottom: 1px solid #444;
  width: 15%;
}

#update{
  color: #444;
  text-decoration: none;
  padding: 0.5%;
  background-color: #444;
  color: white;
}

#extend1{
  display: none;
}